@model IEnumerable<FoodDiaryApp.Models.FoodDiaryEntryViewModel>

<div class="entryListView" ng-controller="FoodDiaryController">
    <div class="card-container">
        @foreach (var entry in Model)
        {
            <div class="card" ng-click="editFoodDiary(@entry.Id)">
                <div class="header">
                    <div class="title">@entry.MealType - @entry.Date.ToString("yyyy-MM-dd")</div>
                </div>
                <div class="content">
                    <p><b>Description</b> @entry.Description</p>
                    <p><b>Symptoms</b> @entry.Symptoms</p>
                    <p><b>Analysis</b> @entry.Analysis</p>
                </div>
            </div>

        }

    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" ng-click="closeModal()">&times;</span>
            <h3 style="color:black;">Edit Record {{ selectedRecord.date | date:'yyyy-MM-dd' }}</h3>
            <form ng-submit="saveRecord()">
                <label for="mealType">Meal Type:</label>
                <input type="text" id="mealType" ng-model="selectedRecord.mealType" required>

                <label for="description">Description:</label>
                <input type="text" id="description" ng-model="selectedRecord.description" required>

                <label for="symptoms">Symptoms:</label>
                <input type="text" id="symptoms" ng-model="selectedRecord.symptoms">

                <label for="analysis">Analysis:</label>
                <input type="text" id="analysis" ng-model="selectedRecord.analysis">

                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>